<!-- Card 23: Multi-Image Slider -->
<div class="product-card card-image-slider">
  <div class="slider-container">
    <div class="slider-images">
      {{#each this.images}}
      <img src="{{this}}" alt="{{../name}}" class="{{#if @first}}active{{/if}}" loading="lazy">
      {{/each}}
    </div>
    {{#if this.images}}
    {{#if (gt this.images.length 1)}}
    <button class="slider-btn prev" onclick="prevImage(this)">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="slider-btn next" onclick="nextImage(this)">
      <i class="fas fa-chevron-right"></i>
    </button>
    <div class="slider-dots">
      {{#each this.images}}
      <span class="dot {{#if @first}}active{{/if}}" onclick="goToSlide(this, {{@index}})"></span>
      {{/each}}
    </div>
    {{/if}}
    {{/if}}
    {{#if this.isNew}}
    <div class="card-badge new">Baru</div>
    {{/if}}
    <button class="wishlist-btn" onclick="toggleWishlist(this)">
      <i class="far fa-heart"></i>
    </button>
  </div>
  <div class="card-content">
    <h3>{{this.name}}</h3>
    {{#if this.description}}
    <p class="card-desc">{{this.description}}</p>
    {{/if}}
    <div class="price-row">
      <div class="price">{{this.price}}</div>
      {{#if this.stock}}
      <div class="stock">Stok: {{this.stock}}</div>
      {{/if}}
    </div>
    <button class="cart-btn" onclick="orderProduct('{{this.name}}', '{{this.price}}')" {{#unless this.isAvailable}}disabled{{/unless}}>
      {{#if this.isAvailable}}
      <i class="fab fa-whatsapp"></i> Beli Sekarang
      {{else}}
      Stok Habis
      {{/if}}
    </button>
  </div>
</div>
